body {
  background-color: #dadada;
}

.mybtn {
  background-color: #eb2b3f;
  border: 1px solid #eb2b3f;
}

.mybtn-outline {
  color: #eb2b3f;
  border: 1px solid #eb2b3f;
}

.mybtn-outline:hover {
  background-color: #eb2b3f;
  border: 1px solid #eb2b3f;
}

.myinput-outline {
  border: 1px solid #eb2b3f;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* header */

.list {
  padding: 3px;
  color: white;
  text-align: center;
  background-color: #eb2b3f;
  text-transform: uppercase;
}

.list-item {
  color: black !important;
}

.list-item:hover {
  background-color: rgb(255, 155, 165);
  color: #eb2b3f !important;
}
/* Card product */

.del-price {
  text-decoration: line-through;
}

.new-price {
  color: #eb2b3f;
}

.product-item {
  border: 0px;
}

.viewmore {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* footer */

.background1 {
  background-color: #eb2b3f;
  color: white;
}
/* Sign in */

.btn-facebook {
  background-color: blue;
  border: 1px solid blue;
}

.btn-google {
  background-color: red;
  border: 1px solid red;
}

.mynav-item {
    color: black !important;
}

.mynav-item:hover {
    background-color: rgb(255, 155, 165);
}

.form-control:focus {
  border-color: #EB2B3F !important;
  box-shadow: 0 0 0 0.2rem rgb(255, 124, 137) !important;
}

.book_item_title {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.book_item_title2 {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}