.mota {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 5; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.mydropdown-item:hover {
  background-color: rgb(255, 124, 137) !important;
}

.dropdowm-scroll-admin {
  max-height: 450px;
  width: 350px;
  overflow: auto;
}